<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="androidapp.yashthaluri.com.khatabook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconkhatabook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconkhatabook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".KhataSettingsActivity"></activity>
        <activity android:name=".EditEntryDetailsActivity" />
        <activity android:name=".EntryDetailsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".TrasactionAddActivity" />
        <activity
            android:name=".ProfileActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthencationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>